.vscode/
bin
include
lib
lib64
pyvenv.cfg
mqtt/config/password.txt
build/dev/sql
build/prod/sql
build/stagging/sql
django/web/

build/prod/conf/django.env
build/prod/conf/sql.env
build/prod/conf/mqtt/config/password.txt

build/stagging/conf/django.env
build/stagging/conf/sql.env
build/stagging/conf/mqtt/config/password.txt

build/stagging/conf1/django.env
build/stagging/conf1/sql.env
build/stagging/conf1/mqtt/config/password.txt

django/src/nodes/imported/

build/dev/sql_buckups/
build/prod/sql_buckups/
build/stagging/sql_buckups/