{% load static %}
<!DOCTYPE html>
<html>

<head>
    {% include 'header.html'  %}
    <title>Cyberlej Ranking</title>
</head>

<body class="flex flex-col text-secondary bg-synthwave bg-scroll bg-cover w-screen h-screen overflow-x-hidden overflow-y-auto">

    <h1 class="animate-ranking_title w-full text-center text-7xl font-['Poppins'] tracking-widest italic mt-10 font-bold">CYBERLEJ RANK</h1>

    <div class="flex flex-col md:w-1/3 w-full h-fit mx-auto mt-10 gap-0 bg-black p-3 rounded-lg">
    
    {% if records.len|length == 0 %}
    
        {% if seed < 10 %}
            <div class="font-bold text-3xl text-center" >Nic tu nie ma</div>
        {% elif seed < 20 %}
            <div class="font-bold text-3xl text-center" >No nie ma</div>
        {% elif seed < 30 %}
            <div class="font-bold text-3xl text-center" >Czego tu szukasz?</div>
        {% elif seed < 50 %}
            <div class="font-bold text-3xl text-center" >Twój szczęśliwy numer to  {{second}} </div>
        {% elif seed < 60 %}
            <img src="{% static 'najman.webp' %}" alt="Tu nikogo nie ma">
        {% elif seed == 69 %}
            <div class="font-bold text-3xl text-center" >Zbyśiu.Ś ciebie widzi</div>
        {% elif seed < 70 %}
            <img src="{% static 'prezes_exe.png' %}" alt="No kurwa gdzie?">
            <div class="font-bold text-sm text-center" >Prezes obserwuje</div>
        {% elif seed < 80 %}
            <img src="{% static 'where.gif' %}" alt="No kurwa gdzie?">
        {% elif seed < 90 %}
            <img src="{% static 'ide_srac.gif' %}" alt="Maka paka cię wyrucha">
        {% elif seed <= 100 %}
            <img src="{% static 'beton.jpg' %}" alt="Wyroby betonowe i żel betonowe. Betoniarnia Śmigiel. Bloczki M6 oraz kostki brukowe betoniarnia, Śmigiel. Na wprożach kraweźniki i słupki parkanowe, u nas kupisz od ręki. W betoniarni Śmigiel! Śmigiel, ulica Południowa! Telefon 65 518 00 28. U nas tanio budujjj!">
            <div class="font-bold text-3xl text-center" >Ranking w budowie</div>
        {% endif %}

    {% else %}        

        <div class="flex flex-row w-full h-fit text-sm font-bold text-secondary border-b bg-[#4CAF50] p-3">
            <div class="w-full text-center">Name</div>
            <div class="w-full text-center">Czas [s]</div>
        </div>

    {% endif %}

    {% for record in records %}

        {% if forloop.counter0 == 0 %}
        <div class="animate-first_stage flex flex-row w-full h-fit border-b py-10 border-secondary text-[#ff78b7] font-['Poppins'] tracking-widest italic text-xl">
        {% elif forloop.counter0 == 1 %}
        <div class="animate-second_stage flex flex-row w-full h-fit border-b py-10 border-secondary text-[#78ffac] font-['Poppins'] tracking-widest italic text-xl">
        {% elif forloop.counter0 == 2 %}
        <div class="animate-third_stage flex flex-row w-full h-fit border-b py-10 border-secondary text-[#ac78ff] font-['Poppins'] tracking-widest italic text-xl">
        {% else %}
        <div class="flex flex-row w-full h-fit border-b py-3 border-secondary text-sm">
        {% endif %}
            <div class="w-full text-center">{{ record.name }}</div>
            <div class="w-full text-center">{{ record.seconds }}.{{ record.miliseconds }}</div>
        </div>
    
    {% endfor %}

    </div>

</body>


</html>