{% load static %}
<!DOCTYPE html>
<html>

<head>
    {% include 'header.html'  %}
    <title>Cyberlej Ranking</title>
</head>

<body class="flex flex-col text-secondary 

{% if seed == 19 and records|length > 0 %}
animate-spin
{% endif %}

{% if seed < 45 and seed >= 30 and records|length > 0 %}
bg-milos  
{% elif seed < 50 and seed >= 45 and records|length > 0 %}
bg-trippy
{% elif seed < 61 and seed >= 50 and records|length > 0 %}
bg-trippy1
{% elif seed < 68 and seed >= 64 and records|length > 0 %}
bg-dhl
{% elif seed < 80 and seed >= 72 and records|length > 0 %}
bg-kurlik
{% elif seed < 90 and seed >= 85 and records|length > 0 %}
bg-power
{% elif seed < 30 and seed >= 20 and records|length > 0 %}
bg-bears
{% else %}
bg-synthwave 
{% endif %}

bg-scroll 

{% if seed < 55 and seed >= 40 or seed < 80 and seed >= 72 and records|length > 0 %}
    bg-repeat 
{% elif seed < 30 and seed >= 20 %}
    bg-contain
{% else %}
    bg-cover 
{% endif %}

w-screen h-screen overflow-x-hidden overflow-y-auto">

{% comment %} Żaby MLG {% endcomment %}

    <h1 class="animate-ranking_title w-full text-center text-7xl font-['Poppins'] tracking-widest italic mt-10 font-bold 
    
    {% if seed == 10 or seed == 12 or seed == 98 or seed == 47 or seed == 4 or seed == 51 %}
    animate-spin
    {% endif %}
    
    
    ">CYBERLEJ RANK</h1>

    {% if seedm < 75 and seedm >= 50 and records|length > 0 %}
        <img src="{% static 'frog_mlg.gif' %}" alt="dance" class="fixed left-0 bottom-0 md:w-64 w-32">
        <img src="{% static 'frog_mlg.gif' %}" alt="dance" class="fixed right-0 bottom-0 md:w-64 w-32">
    {% endif %}

    {% if seedm < 10 and seedm >= 5 and records|length > 0 %}
        <img src="{% static 'kowolski_brush.gif' %}" alt="dance" class="fixed left-2 bottom-0 md:w-64 w-32">
        <img src="{% static 'kowolski_brush.gif' %}" alt="dance" class="fixed right-2 bottom-0 md:w-64 w-32">
    {% endif %}

    {% if seedm < 90 and seedm >= 80 and records|length > 0 %}
        <img src="{% static 'kapitan_bomba.gif' %}" alt="dance" class="absolute right-0 top-1/2 h-96">
    {% endif %}

    {% if seede < 90 and seede >= 70 and records|length > 0 %}
        <img src="{% static 'grim-dance.gif' %}" alt="dance" class="absolute left-0 top-1/2 h-96 animate-move_cow">
    {% endif %}

    {% if seede < 24 and seede >= 10 and records|length > 0 %}
        <img src="{% static 'Choirak_strach.gif' %}" alt="dance" class="absolute left-0 top-1/4 h-96">
    {% endif %}

    {% if seedm < 50 and seedm >= 30 and records|length > 0 %}
        <img src="{% static 'cat-legs.gif' %}" alt="dance" class="fixed left-[19%] bottom-0 md:w-64 z-0 md:h-96 h-32 w-8 animate-bounce">
        <img src="{% static 'cat-legs.gif' %}" alt="dance" class="fixed right-[20%] bottom-0 md:w-64 z-0 md:h-96 h-32 w-8 animate-bounce">
    {% endif %}

    {% if seed == 34 and records|length > 0 %}
        <img src="{% static 'tarn.gif' %}" alt="dance" class="fixed left-0 bottom-0 w-full h-full z-10">
    {% endif %}

    {% if seed < 70 and seed > 60 and records|length > 0 %}
        <img src="{% static 'spy_laser.gif' %}" alt="dance" class="fixed left-0 bottom-0 w-full h-full z-10 animate-spy_fadeing_from_existance opacity-0">
    {% endif %}

    {% if seed < 90 and seed > 80 and records|length > 0 %}
        <img src="{% static 'heavy_walk.gif' %}" alt="dance" class="fixed left-0 bottom-0 w-full h-full z-10 animate-spy_fadeing_from_existance opacity-0">
    {% endif %}

    {% if seed < 25 and seed >= 15 and records|length > 0 %}
        <img src="{% static 'scout_drunks.gif' %}" alt="dance" class="fixed left-0 bottom-0 w-full h-full z-10 animate-spy_fadeing_from_existance opacity-0">
    {% endif %}

    {% if seed < 15 and seed >= 2 and records|length > 0 %}
        <img src="{% static 'I_will_take_stock.gif' %}" alt="dance" class="fixed left-0 bottom-0 w-full h-full z-10 animate-spy_fadeing_from_existance opacity-0">
    {% endif %}

    {% if seed == 99 and records|length > 0 %}
        <img src="{% static 'tarn.gif' %}" alt="dance" class="fixed left-0 bottom-0 w-full h-full z-10 animate-spin">
    {% endif %}

    {% if seed == 98 and records|length > 0 %}
        <img src="{% static 'elmo_ogien.gif' %}" alt="dance" class="fixed left-0 bottom-0 w-full h-full z-10 animate-pulse">
    {% endif %}

    {% if seede < 30 and seede >= 10 and records|length > 0 %}
        <img src="{% static 'filthy_heretic.gif' %}" alt="dance" class="fixed left-0 bottom-0 w-full h-full z-10 animate-spy_fadeing_from_existance opacity-0">
    {% endif %}

    {% if seede < 100 and seede >= 85 and records|length > 0 %}
        <img src="{% static 'hey_something_cool.gif' %}" alt="dance" class="fixed left-0 bottom-0 w-full h-full z-10 animate-kotel opacity-0">
    {% endif %}

    {% if seede < 20 and seede >= 0 and records|length > 0 %}
        <img src="{% static 'praise_the_sun.gif' %}" alt="dance" class="fixed left-0 bottom-0 w-full h-full z-10 animate-praise_sun opacity-0">
    {% endif %}

    {% if seede < 85 and seede >= 70 and records|length > 0 %}
        <img src="{% static 'springtrap_zna_historie.gif' %}" alt="dance" class="fixed left-0 bottom-0 w-full h-full z-10 animate-springtrap_story opacity-0">
    {% endif %}

    {% if seede < 60 and seede >= 42 and records|length > 0 %}
        <img src="{% static 'ed1.gif' %}" alt="dance" class="fixed left-0 bottom-0 w-full h-full z-10 animate-pulse">
        <img src="{% static 'ed1.gif' %}" alt="dance" class="fixed left-0 bottom-0 w-full h-full z-10 animate-ping">
    {% endif %}

    {% if seed == 55 and records|length > 0 %}
        <img src="{% static 'Rico_kabom.gif' %}" alt="dance" class="fixed left-0 bottom-0 w-full h-full z-10 animate-pulse delay-1000">
    {% endif %}

    {% if seed == 64 and records|length > 0 %}
        <img src="{% static '3d-saul-saul-goodman.gif' %}" alt="dance" class="fixed left-0 bottom-0 w-full h-full z-10 ">
    {% endif %}

    {% if records|length > 0 %}

        {% if seede < 40 and seede >= 31 and records|length > 0 %}
        <img src="{% static 'grievous2003.gif' %}" alt="dance" class="fixed left-0 top-1/2 animate-move_cow w-96">
        {% endif %}

        {% if seedc < 40 and seedc >= 31 and records|length > 0 %}
            <img src="{% static 'polish_cow.gif' %}" alt="dance" class="fixed left-0 top-3/4 animate-move_cow w-32">
        {% elif seedc == 54 %}
            <img src="{% static 'denji_power_dance.gif' %}" alt="dance" class="fixed left-0 top-0 animate-big_cow_move w-full">
        {% elif seedc == 41 or seedc == 19 %}
            <img src="{% static 'polish_cow.gif' %}" alt="dance" class="fixed left-0 top-0 animate-big_cow_move w-full">
        {% elif seedc == 12 or seedc == 87 %}
            <img src="{% static 'ed_je.gif' %}" alt="dance" class="fixed left-0 top-0 animate-big_cow_move w-full">
        {% elif seedc == 96 or seedc == 14 %}
            <img src="{% static 'Gumball_run.gif' %}" alt="dance" class="fixed left-0 top-0 animate-big_cow_move w-full">
        {% elif seedc <= 5 and seedc >= 0 %}
            <img src="{% static 'kopanie_kurlika.gif' %}" alt="dance" class="fixed left-0 top-0 animate-big_cow_move w-96">
            <img src="{% static 'kopanie_kurlika.gif' %}" alt="dance" class="fixed left-0 bottom-0 w-96 animate-bounce">
        {% elif seedc <= 100 and seedc >= 96 %}
            <img src="{% static 'lego-batman-falls-in-love.gif' %}" alt="dance" class="fixed left-0 bottom-0 w-96 animate-bounce">
        {% elif seedc < 59 and seedc >= 45 %}
            <img src="{% static 'polish_cow.gif' %}" alt="dance" class="fixed left-1/2 animate-move_cow_down  w-32">
        {% elif seedc < 82 and seedc >= 70 %}
            <img src="{% static 'polish_cow.gif' %}" alt="dance" class="fixed left-0 animate-move_cow_both  w-32">
        {% elif seedc == 36 or seedc == 95 or seedc == 15 %}
            <img src="{% static 'polish_cow.gif' %}" alt="dance" class="fixed left-0 top-1/2 animate-move_cow_both  w-32">
            <img src="{% static 'polish_cow.gif' %}" alt="dance" class="fixed left-0 top-1/2 animate-move_cow_down  w-32">
            <img src="{% static 'polish_cow.gif' %}" alt="dance" class="fixed left-0 top-1/2 animate-move_cow w-32">
            <img src="{% static 'polish_cow.gif' %}" alt="dance" class="fixed right-0 top-1/2 animate-mir_move_cow_both  w-32">
            <img src="{% static 'polish_cow.gif' %}" alt="dance" class="fixed right-0 top-1/2 animate-mir_move_cow_both  w-32">
            <img src="{% static 'polish_cow.gif' %}" alt="dance" class="fixed right-0 top-1/2 animate-mir_move_cow w-32">
        {% elif seedc == 94 or seedc == 23 or seedc == 4 %}
            <img src="{% static 'ugandan_knuckles.gif' %}" alt="dance" class="fixed left-0 top-1/2 animate-move_cow_both  w-32">
            <img src="{% static 'ugandan_knuckles.gif' %}" alt="dance" class="fixed left-0 top-1/2 animate-move_cow_down  w-32">
            <img src="{% static 'ugandan_knuckles.gif' %}" alt="dance" class="fixed left-0 top-1/2 animate-move_cow w-32">
            <img src="{% static 'ugandan_knuckles.gif' %}" alt="dance" class="fixed right-0 top-1/2 animate-mir_move_cow_both  w-32">
            <img src="{% static 'ugandan_knuckles.gif' %}" alt="dance" class="fixed right-0 top-1/2 animate-mir_move_cow_both  w-32">
            <img src="{% static 'ugandan_knuckles.gif' %}" alt="dance" class="fixed right-0 top-1/2 animate-mir_move_cow w-32">
        {% elif seedc == 39 or seedc == 91 or seedc > 10 and seedc < 20 %}
            <img src="{% static 'polish-toilet.gif' %}" alt="dance" class="fixed left-0 top-3/4 animate-move_cow w-32">
            {% elif seedc == 54 or seedc == 69 or seedc > 40 and seedc < 60 %}
            <img src="{% static 'kuru.gif' %}" alt="dance" class="fixed left-0 top-1/2 animate-move_cow w-32 hover:w-96 ease-in">
        {% endif %}
    {% endif %}

    {% if seedb < 20 and seedb >= 5 and records|length > 0 %}
            <img src="{% static 'heavy_run.gif' %}" alt="dance" class="fixed left-1/4 w-1/2 mx-auto animate-move_heavy">
    {% endif %}
    
    {% if seed_2 == 12 and records|length > 0 %}
            <img src="{% static 'jake_dance.gif' %}" alt="dance" class="w-full mx-auto animate-ping">
            <div class="flex flex-col md:w-1/3 w-full h-fit mx-auto gap-0 bg-black p-3 rounded-lg">
    {% elif seed_2 == 1 and records|length > 0 %}
            <img src="{% static 'ed_je.gif' %}" alt="dance" class="w-96 mx-auto">
            <div class="flex flex-col md:w-1/3 w-full h-fit mx-auto gap-0 bg-black p-3 rounded-lg">
    {% elif seed_2 < 20 and seed_2 >= 10 and records|length > 0 %}
            <img src="{% static 'edy_ida.gif' %}" alt="dance" class="w-96 mx-auto">
            <div class="flex flex-col md:w-1/3 w-full h-fit mx-auto gap-0 bg-black p-3 rounded-lg">
    {% elif seed_2 < 30 and seed_2 >= 20 and records|length > 0 %}
            <img src="{% static 'dance1.gif' %}" alt="dance" class="w-96 mx-auto">
            <div class="flex flex-col md:w-1/3 w-full h-fit mx-auto gap-0 bg-black p-3 rounded-lg">
    {% elif seed_2 == 48 and records|length > 0 %}
            <img src="{% static 'morshu_szybko.gif' %}" alt="dance" class="w-96 mx-auto">
            <div class="flex flex-col md:w-1/3 w-full h-fit mx-auto gap-0 bg-black p-3 rounded-lg">
    {% elif seed_2 == 47 and records|length > 0 %}
            <img src="{% static 'benson_dance.gif' %}" alt="dance" class="w-96 mx-auto animate-spin">
            <div class="flex flex-col md:w-1/3 w-full h-fit mx-auto gap-0 bg-black p-3 rounded-lg animate-spin">
    {% elif seed_2 < 20 and seed_2 >= 10 and records|length > 0 %}
            <img src="{% static 'jake_dance.gif' %}" alt="dance" class="w-full mx-auto">
            <div class="flex flex-col md:w-1/3 w-full h-fit mx-auto gap-0 bg-black p-3 rounded-lg">
    {% elif seed_2 < 10 and seed_2 >= 4 and records|length > 0 %}
            <div class="w-fit mx-auto inline-block relative">
                <img src="{% static 'guts-berserk-psycho.gif' %}" alt="dance" class="w-96 relative  z-0">
                <img src="{% static 'guts-berserk-psycho.gif' %}" alt="dance" class="w-96  absolute animate-ping top-0 left-0 z-10">
            </div>
            <div class="flex flex-col md:w-1/3 w-full h-fit mx-auto gap-0 bg-black p-3 rounded-lg">
    {% elif seed_2 == 3 and records|length > 0 %}
            <div class="w-fit mx-auto inline-block relative">
                <img src="{% static 'kids-next-door-knd.gif' %}" alt="dance" class="w-96 relative  z-0">
                <img src="{% static 'kids-next-door-knd.gif' %}" alt="dance" class="w-96  absolute animate-ping top-0 left-0 z-10">
            </div>
            <div class="flex flex-col md:w-1/3 w-full h-fit mx-auto gap-0 bg-black p-3 rounded-lg">
    {% elif seed_2 < 49 and seed_2 >= 46 and records|length > 0 %}
            <img src="{% static 'benson_dance.gif' %}" alt="dance" class="w-96 mx-auto">
            <div class="flex flex-col md:w-1/3 w-full h-fit mx-auto gap-0 bg-black p-3 rounded-lg">
    {% elif seed_2 < 90 and seed_2 >= 84 and records|length > 0 %}
            <img src="{% static 'dr_livesey_idzie.gif' %}" alt="dance" class="w-96 mx-auto">
            <div class="flex flex-col md:w-1/3 w-full h-fit mx-auto gap-0 bg-black p-3 rounded-lg">
    {% elif seed_2 < 66 and seed_2 >= 50 and records|length > 0 %}
            <img src="{% static 'Atleta_upada.gif' %}" alt="dance" class="w-96 mx-auto">
            <div class="flex flex-col md:w-1/3 w-full h-fit mx-auto gap-0 bg-black p-3 rounded-lg">
    {% elif seed_2 < 69 and seed_2 >= 66 and records|length > 0 %}
            <img src="{% static 'joker kicks batman.gif' %}" alt="dance" class="w-96 mx-auto hover:animate-bounce">
            <div class="flex flex-col md:w-1/3 w-full h-fit mx-auto gap-0 bg-black p-3 rounded-lg">
    {% elif seed_2 < 80 and seed_2 >= 69 and records|length > 0 %}
            <img src="{% static 'entire_bee_movie.gif' %}" alt="dance" class="w-96 mx-auto">
            <div class="flex flex-col md:w-1/3 w-full h-fit mx-auto gap-0 bg-black p-3 rounded-lg">
    {% elif seed_2 < 97 and seed_2 >= 90 and records|length > 0 %}
            <img src="{% static 'springtrap_dance.gif' %}" alt="dance" class="w-96 mx-auto hover:animate-spin">
            <div class="flex flex-col md:w-1/3 w-full h-fit mx-auto gap-0 bg-black p-3 rounded-lg">
    {% elif seed_2 < 100 and seed_2 >= 97 and records|length > 0 %}
            <img src="{% static 'talking-ben-ugh.gif' %}" alt="dance" class="w-96 mx-auto">
            <div class="flex flex-col md:w-1/3 w-full h-fit mx-auto gap-0 bg-black p-3 rounded-lg">
    {% else %}
        <div class="flex flex-col md:w-1/3 w-full h-fit mx-auto mt-10 gap-0  p-3 rounded-lg 
        
            {% if seed_2 < 68 and seed_2 >= 64 and records|length > 0 %}
        animate-size_out_ranking
            {% endif %}
                
            {% if seedb < 42 and seedb >= 31 and records|length > 0 %}
                bg-fnaf
                bg-cover
            {% elif seedb < 75 and seedb >= 60 and records|length > 0 %}
                bg-monke
                bg-contain
            {% elif seedb < 95 and seedb >= 80 and records|length > 0 %}
                bg-texas
                bg-contain
            {% else %}
                bg-black
            {% endif %}
            
            {% if seed_2 == 9 and records|length > 0 %}
            animate-spin
            {% endif %}
            
        ">
    {% endif %}
    
    
    {% if records|length < 1 %}
    
        {% if seed < 10 %}
            <div class="font-bold text-3xl text-center" >Nic tu nie ma</div>
        {% elif seed < 20 %}
            <div class="font-bold text-3xl text-center" >No nie ma</div>
        {% elif seed < 30 %}
            <div class="font-bold text-3xl text-center" >Czego tu szukasz?</div>
        {% elif seed < 50 %}
            <div class="font-bold text-3xl text-center" >Twój szczęśliwy numer to  {{second}} </div>
        {% elif seed < 60 %}
            <img src="{% static 'najman.webp' %}" alt="Tu nikogo nie ma">
        {% elif seed == 69 %}
            <div class="font-bold text-3xl text-center" >Zbyśiu.Ś ciebie widzi</div>
        {% elif seed < 70 %}
            <img src="{% static 'prezes_exe.png' %}" alt="No kurwa gdzie?">
            <div class="font-bold text-sm text-center" >Prezes obserwuje</div>
        {% elif seed < 80 %}
            <img src="{% static 'where.gif' %}" alt="No kurwa gdzie?">
        {% elif seed < 90 %}
            <img src="{% static 'ide_srac.gif' %}" alt="Maka paka cię wyrucha">
        {% elif seed <= 100 %}
            <img src="{% static 'beton.jpg' %}" alt="Wyroby betonowe i żel betonowe. Betoniarnia Śmigiel. Bloczki M6 oraz kostki brukowe betoniarnia, Śmigiel. Na wprożach kraweźniki i słupki parkanowe, u nas kupisz od ręki. W betoniarni Śmigiel! Śmigiel, ulica Południowa! Telefon 65 518 00 28. U nas tanio budujjj!">
            <div class="font-bold text-3xl text-center" >Ranking w budowie</div>
        {% endif %}

    {% elif seedc == 12 %}
    
        <div class="flex flex-row h-96">
            <img src="{% static 'kurliki.gif' %}" alt="Oddajcie Rayamna!!!" class="w-1/2">
            <img src="{% static 'kapitan_bomba.gif' %}" alt="Oddajcie Rayamna!!!" class="w-1/2">
        </div>

    {% elif seedc < 14 and seedc >= 4  %}

    <img src="{% static 'kurliki.gif' %}" alt="Oddajcie Rayamna!!!">

    {% else %}        

    
        <div class="flex flex-row w-full h-fit text-sm font-bold text-secondary border-b bg-[#4CAF50] p-3">
            <div class="w-full text-center">Name</div>
            <div class="w-full text-center">Czas [s]</div>
        </div>

    {% for record in records %}

        {% if forloop.counter0 == 0 %}
        
        <div class="animate-first_stage flex flex-row w-full h-fit border-b py-10 border-secondary text-[#ff78b7] font-['Poppins'] tracking-widest italic text-xl">
            {% if seedm < 25 %}
                <img src="{% static 'zły_ed.gif' %}" alt="milo" class="w-20 h-20">
            {% elif seedm < 45 and seedm >= 30 %}
                <img src="{% static 'chojrak.gif' %}" alt="milo" class="w-20 h-20">
            {% elif seedm < 75 and seedm >= 60 %}
                <img src="{% static 'Him_pp.gif' %}" alt="milo" class="w-20 h-20">
            {% elif seedm < 85 and seedm >= 80 %}
                <img src="{% static 'Nicole_waterson.gif' %}" alt="milo" class="w-20 h-20">
            {% elif seedm < 90 and seedm >= 85 %}
                <img src="{% static 'Alice.gif' %}" alt="milo" class="w-20 h-20">
            {% elif seedm < 30 and seedm >= 25 %}
                <img src="{% static 'Davy_jones_eyebrow.gif' %}" alt="milo" class="w-20 h-20">
            {% endif %}

            {% if seed_1 < 20 %}
                <img src="{% static 'milos1.gif' %}" alt="milo" class="w-20 h-20">
            {% elif seed_1 < 31 %}
                <img src="{% static 'soldier_smile.gif' %}" alt="milo" class="w-20 h-20">
            {% elif seed_1 < 85 and seed_1 >= 79 %}
                <img src="{% static 'stachu_okuwa.gif' %}" alt="milo" class="w-20 h-20">
            {% elif seed_1 == 86 %}
            <img src="{% static 'purple_man.gif' %}" alt="milo" class="w-20 h-20">
            {% elif seed_1 < 40 and seed_1 >= 30 %}
            <img src="{% static 'frog_mlg.gif' %}" alt="milo" class="w-20 h-20">
            {% elif seed_1 < 47 and seed_1 >= 40 %}
            <img src="{% static 'joker.gif' %}" alt="milo" class="w-20 h-20">
            {% elif seed_1 < 54 and seed_1 >= 47 %}
            <img src="{% static 'missisipi_queen.gif' %}" alt="milo" class="w-20 h-20">
            {% elif seed_1 < 61 and seed_1 >= 54 %}
            <img src="{% static 'tarn.gif' %}" alt="milo" class="w-20 h-20">
            {% elif seed_1 < 64 and seed_1 >= 60 %}
            <img src="{% static 'benson_dance.gif' %}" alt="milo" class="w-20 h-20">
            {% elif seed_1 < 79 and seed_1 >= 70 %}
            <img src="{% static 'richard_chad_walk.gif' %}" alt="milo" class="w-20 h-20">
            {% elif seed_1 < 85 and seed_1 >= 79 %}
            <img src="{% static 'richard_chad_walk.gif' %}" alt="milo" class="w-20 h-20">
            {% elif seed_1 < 94 and seed_1 >= 87 %}
            <img src="{% static 'alucard_laugh.gif' %}" alt="milo" class="w-20 h-20">
            {% elif seed_1 < 100 and seed_1 >= 94 %}
            <img src="{% static 'soldier_on_party.gif' %}" alt="milo" class="w-20 h-20">
            {% endif %}
        {% elif forloop.counter0 == 1 %}
        <div class="animate-second_stage flex flex-row w-full h-fit border-b py-10 border-secondary text-[#78ffac] font-['Poppins'] tracking-widest italic text-xl">
            {% if seed_1 < 20 %}
                <img src="{% static 'milos1.gif' %}" alt="milo" class="w-12 h-12">
            {% elif seed_1 < 40 and seed_1 >= 30 %}
                <img src="{% static 'frog_mlg.gif' %}" alt="milo" class="w-12 h-12">
            {% elif seed_1 < 47 and seed_1 >= 40 %}
                <img src="{% static 'joker.gif' %}" alt="milo" class="w-12 h-12">
            {% elif seed_1 < 61 and seed_1 >= 54 %}
                <img src="{% static 'tarn.gif' %}" alt="milo" class="w-12 h-12">
            {% endif %}
        {% elif forloop.counter0 == 2 %}
        <div class="animate-third_stage flex flex-row w-full h-fit border-b py-10 border-secondary text-[#ac78ff] font-['Poppins'] tracking-widest italic text-xl">
            {% if seed_1 < 20 %}
                <img src="{% static 'milos1.gif' %}" alt="milo" class="w-10 h-10">
            {% elif seed_1 < 40 and seed_1 >= 30 %}
                <img src="{% static 'frog_mlg.gif' %}" alt="milo" class="w-10 h-10">
            {% elif seed_1 < 47 and seed_1 >= 40 %}
                <img src="{% static 'joker.gif' %}" alt="milo" class="w-10 h-10">
            {% elif seed_1 < 61 and seed_1 >= 54 %}
                <img src="{% static 'tarn.gif' %}" alt="milo" class="w-10 h-10">
            {% endif %}
        {% else %}
        <div class="flex flex-row w-full h-fit border-b py-3 border-secondary text-sm">
            {% if seed_1 < 10 %}
                <img src="{% static 'milos1.gif' %}" alt="milo" class="w-8 h-8">
            {% elif seed_1 < 40 and seed_1 >= 30 %}
                <img src="{% static 'frog_mlg.gif' %}" alt="milo" class="w-8 h-8">
            {% elif seed_1 < 47 and seed_1 >= 40 %}
                <img src="{% static 'joker.gif' %}" alt="milo" class="w-8 h-8">
            {% elif seedm < 90 and seedm >= 70 %}
                <img src="{% static 'blade.gif' %}" alt="milo" class="w-8 h-8">
            {% endif %}
        {% endif %}
            <div class="w-full text-center
            
            {% if seed == 8 %}
            animate-spin
            {% endif %}
            
            ">{{ record.name }}</div>
            <div class="w-full text-center
            
            {% if seed == 8 %}
            animate-spin
            {% endif %}
            
            ">{{ record.seconds }}.{{ record.miliseconds }}</div>
        </div>
    
    {% endfor %}

    {% endif %}

    </div>

</body>

<script>

    const LAST_UPDATE_TIME = {{ update_time }};

    console.log("Last update: ",LAST_UPDATE_TIME, " s");

    function check_for_updates()
    {
        fetch("/lej/check")
        .then(res => res.json() )
        .then(json =>
        {
            console.log("Text: ",json["time"]);

            time = json["time"];

            if( time > LAST_UPDATE_TIME )
            {
                location.reload();
            }
        });
            
    }

    setInterval(check_for_updates,10000);

</script>

</html>