:80 {

    encode zstd gzip

    @statics {
        path /static/*
        path /media/*
    }

    handle @statics {
        root * /data/
        file_server
    }

    handle /broker {
        reverse_proxy  02_mqtt_prod:9001
    }

    handle /sock/* {
        reverse_proxy 02_django_prod:9000
    }

    handle {
        reverse_proxy  02_django_prod:8000
    }

}