{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{device.name}}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>
    {% include 'nav.html'  %}

    <div id="device-block-info">

        <h2>{{device.name}}</h2>
        <p>ver.{{device.major_version}}.{{device.minor_version}}.{{device.match_version}}</p>
        <p>Last login: {{login_date}}</p>
        <p>Keys: {{device.key}}</p>
    
    </div>

    <div class="device-header">
        <h2>MQTT topics with acess level</h2>
    </div>

    <div class="block-space">

    {% for acl in nodesacl %}

    <a href="/nodes/{{acl.topic.node}}">
        <div class="topic-block">
            <p style="font-weight:bold;">{{acl.access}}:</p> 
            <p>Path: {{acl.topic.path}} </p>
            <p>Node:{{acl.topic.node}}</p>            
        </div>
    </a> 

    {% empty %}

    <div class="device-header" style="background-color:lightgray;">
        <p style="font-weight: bold;">There is no topics!</p>
    </div>

    {% endfor %}

    </div>

</body>

</html>