<button id="navbutton" onclick="toggle()">Menu</button>

<div id="navbar">

    <a href="/">
        <div class="navblock">
            Home
        </div>
    </a>

    {% if perms.devices.plugin_view or perms.devices.device_view  %}

    <a href="/devs">
        <div class="navblock">
            Devices
        </div>
    </a>

    {% endif %}

    <a href="/twingo">
        <div class="navblock">
            Twingo
        </div>
    </a>

{% autoescape off %}
    {%for item in menu_items %}

    {{item}}

    {%endfor%}
{% endautoescape %}

{% if user.is_authenticated %}

    {% if user.is_staff %}

    <a href="/django-admin">
        <div class="navlogout navblock">
            Admin
        </div>
    </a>

    {% endif %}

    <a href="/unauth">
        <div class="navlogout navblock">
            Logout
        </div>
    </a>

    <div class="navblock">
        Hello {{user.username}}!
    </div>

{% else %}

    <a href="/login">
        <div class="navlogout navblock">
            Login
        </div>
    </a>

{% endif %}


</div>
