{% load static %}
<!DOCTYPE html>
<html>

<head>
    {% include 'header.html'  %}
    <title>{{node}}</title>
</head>

<style>

    .value_block
    {
        display: flex;
        flex-direction: row;
        width: 80%;
        height: fit-content;
    }

    .value_subblock
    {
        display:flex;
        flex-direction: column;
        width:fit-content;
        padding-left:5px;
        padding-right:5px;
        padding-top:10px;
        padding-bottom:10px;
        background-color:var(--primary-color);
        justify-content: flex-start;
        align-items: center;
    }

    .chart_block
    {
        background-color:var(--secondary-color);
        width:100%;
        height: 100%;
        padding:2px;
    }

    #node_space
    {
        display:flex;
        flex-direction: column;
        gap:10px;
        width:100%;
        height:100vh;
        margin-left:5px;
        margin-right:5px;
    }
    
    #node_data_list
    {
        padding-top:200px;
        display:flex;
        width:100%;
        height:100%;
        justify-content:center;
        overflow-y:auto;
        flex-direction: column;
        gap:10px;
    }

    .chart_canvas
    {
        display: flex;
        justify-content:center;
        width:100%;
        height:100%;
    }

</style>

<body>
    {% include 'nav.html'  %}

    <div id="node_space">

        <h1>{{node}}</h1>

        <div id="node_data_list">

        {% for param in node_params %}

            <div class="value_block">

                <div class="value_subblock">
                    <p id="chart_name{{ forloop.counter0 }}"></p>
                    <div>
                        <label>Current value:</label>
                        <input type="text" id="value{{ forloop.counter0 }}">
                    </div>
                </div>

                <div class="chart_block">
                    <canvas id="chart{{ forloop.counter0 }}"  class="chart_canvas"></canvas>                    
                </div>

            </div>

        {% endfor %}

        </div>

    </div>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

<script>

    // it will holds data from node
    const DataList={};
    const DataLabel= new Array();
    
    const Charts=new Array();

    const ParamList=new Array(
        {% for param in node_params %}
            "{{param}}",
        {% endfor %}
    );

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function show_block()
    {
        const block=document.getElementById("close_block");
    
        block.style.display="flex";
    }
    
    function hide_block()
    {
        const block=document.getElementById("close_block");
    
        block.style.display="none";
    }

    function setCharts(data)
    {
            result=data["result"]

            if(result === undefined)
            {
                return;
            }
            
            DataLabel.splice(0, DataLabel.length)

            Object.values(DataList).forEach( list => {
                list.splice(0, list.length);
            })
            
            

            result.forEach(x =>{

                const timestamp=x.created_date;

                const date=new Date(timestamp)

                DataLabel.push(date.toLocaleString())

                Object.keys(x).forEach(key=>{
                    
                    const paramId=ParamList.indexOf(key);

                    if( paramId >= 0 )
                    {
                        DataList[key].push({x:timestamp,y:x[key]});
                        console.log("Key: ",DataList[key])
                        document.getElementById("value"+paramId).value=x[key];
                    }
                })

            })

            Charts.forEach((chart)=>{
                chart.update()
            })

    }

    function updateCharts(data)
    {
            result=data["result"][0]

            console.log("Result: ",result)

            if(result === undefined)
            {
                return;
            }

            const timestamp=result.created_date;

            const date=new Date(timestamp)
            
            if((DataLabel.length > 0) && (date.getTime() <= new Date(DataList[ParamList[0]][DataList[ParamList[0]].length-1].x).getTime()))
            {
                return;
            }

            if(DataLabel.length > 10)
            {

                DataLabel.shift();

                Object.values(DataList).forEach( list => {
                    list.shift();
                })
            }

            DataLabel.push(date.toLocaleString())

            Object.keys(result).forEach(key=>{
                    
                const paramId=ParamList.indexOf(key);

                if( paramId >= 0 )
                {
                    DataList[key].push({x:timestamp,y:result[key]});
                    console.log("Key: ",DataList[key])
                    document.getElementById("value"+paramId).value=result[key];
                }
            })

            Charts.forEach((chart)=>{
                chart.update()
            })

    }

    function initCharts()
    {

        console.info("Parameters: ",ParamList);


        ParamList.forEach((param,i) => {
            DataList[param]=new Array();

            document.getElementById("chart_name"+i).innerHTML=param;

            Charts.push(new Chart("chart"+i, {
                type: "line",
                
                data: {
                    labels:DataLabel,
                    datasets: [{
                        label:param,
                        data: DataList[param]
                }]},
                options: {
                    devicePixelRatio:2,
                    responsive:true,
                    aspectRatio:6,
                    scales: {
                        y:{
                            type:'linear'
                        },
                        x: {
                            type: 'time',
                            time:
                            {
                                parser:'YYYY-MM-DDTHH:mm:ss.ssssssZ'
                               
                            }   
                        }
                    }
                }
            }))
        })

        getDataInitial();

    }

    function getData()
    {
        const csrftoken = getCookie('csrftoken');

        fetch("/ext/node",
        {
            method:"POST",
            headers: { 'Accept': 'application/json',
            'Content-Type': 'application/json',
            "X-CSRFToken": csrftoken},
            credentials: 'include',
            mode:"cors",
            body: JSON.stringify({
                request:"get",
                node:"{{node}}",
                data:{
                    "max":1,
                    "mask":[...ParamList,"created_date"],
                    "order":"-created_date"
                }
            })

        }).then((response)=>response.json())
        .then((response)=>{
            updateCharts(response);
        })

    }

    function getDataInitial()
    {
        const csrftoken = getCookie('csrftoken');

        fetch("/ext/node",
        {
            method:"POST",
            headers: { 'Accept': 'application/json',
            'Content-Type': 'application/json',
            "X-CSRFToken": csrftoken},
            credentials: 'include',
            mode:"cors",
            body: JSON.stringify({
                request:"get",
                node:"{{node}}",
                data:{
                    "max":10,
                    "mask":[...ParamList,"created_date"],
                    "order":"created_date"
                }
            })

        }).then((response)=>response.json())
        .then((response)=>{
            setCharts(response);
            setInterval(getData,500);   
        })

    }


    initCharts();

        
    </script>

</html>