{% load static %}
<!DOCTYPE html>
<html>

<head>
    {% include 'header.html'  %}
    <title>Nodes</title>
</head>

<body>
    {% include 'nav.html'  %}

    <div class="flex flex-col md:w-3/4 w-full h-full overflow-y-auto overflow-x-hidden gap-4 mt-10 ml-5">

        <div class="device_entry">
            <p class="hover:text-primary cursor-pointer" onclick="search_node()">Search:</p>
            <input class="w-full text-black" type="text" id="node_search" placeholder="Node name">
        </div>

        {% for node in node_list %}

        <a href="/node_view/{{node.node_name}}">
            <div class="device_entry bg-quaternary place-items-center md:w-1/2">

                <h2 class="ml-5">{{node.name}}</h2>
            
            </div>
        </a>

        {% endfor %}

    </div>

</body>

<script>

    document.getElementById("node_search").addEventListener("keypress",(event)=>{
        if( event.key == 'Enter' )
        {
            search_node();   
        }
    });

    function search_node()
    {
        const device_name = document.getElementById("node_search").value;

        if( device_name.length > 0 )
        {
            window.location.replace(`/node_list?search=${device_name}`);
        }
        else
        {
            window.location.replace('/node_list');
        }
    }

</script>


</html>