{% load static %}
<!DOCTYPE html>
<html>

<head>
    {% include 'header.html'  %}
    <title>Service {{serv.name}}</title>
</head>

<body>
    {% include 'nav.html'  %}

    <div class="flex flex-col md:w-3/4 w-full h-screen overflow-y-auto overflow-x-hidden gap-4 mt-10 ml-5">
        
        <div class="device_entry bg-teritary place-items-center md:w-1/2 ">

            <h2 class="ml-5 text-3xl">{{serv.name}}</h2>
        
        </div>

        <div class="device_entry bg-teritary place-items-center md:w-1/2 mt-12 mb-5 ">

            <h2 class="ml-5 text-3xl">Node used by service:</h2>
        
        </div>

        <a href="/node/{{serv.node}}">
            <div class="device_entry bg-quaternary place-items-center md:w-1/2">

                <h2 class="ml-5">{{serv.node}}</h2>
            
            </div>
        </a>

        <div class="addbutton text-6xl bg-teritary p-5 " onclick="remove_service_popup_show('Remove service?')">Remove</div>

    </div>

</body>

<script>

    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }

    function removeService()
    {
        const csrftoken = getCookie('csrftoken');
        
        fetch("/ext/serv/rm",{
            method:"POST",
            credentials: 'include',
            headers:{
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            },
            mode: 'same-origin',
            body:JSON.stringify({name:"{{ plugin.app_name }}"})
        }).then((res)=> res.json() )
        .then((res)=>{
            console.log(res);

            //window.location.replace("/plugins_list");
        });
    }


</script>

{% include 'message_popup.html' with popup_name="remove_service" on_ok="removeService();" on_cancel="" %}

</html>