{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>W piwnicy jest dzisiaj, {{users|length}} człowieków </title>
    <link rel="stylesheet" href={% static "rat_style.css" %}>
</head>
<body>



<img class="main_image" src={% static "KoNaR_UOS_logo.png" %} alt="we are rats">


<div>
<h1 class="main_title">
    Znajdź konarowicza w piwnicy
</h1>
</div>

<div class="rat_container">
<img class="rat_image1" src={% static  "ratback.png" %} alt="rad">
<img class="rat_image2" src={% static  "ratback.png" %} alt="rad">
<img class="rat_image3" src={% static  "ratback.png" %} alt="rad">
</div>

{% if users|length > 0 %}

<div class="block_one">
<h2 class="title">
    Ilość ludzi w piwnicy
</h2>

<div class="box1">
<p class="text" >
    W piwnicy jest w mnóstwo ludzi, conajmniej:
    <p style="font-size:xxx-large;">{{users|length}}</p>
</p>

</div>

{% else %}

<div class="block_one">
  <h2 class="title">
      Nikogo tu nie ma!!
  </h2>
</div>

{% endif %}

{% if users|length > 0 %}

<div class="block_one">
<h3 class="title">
    Lista użytkowników, którzy są w piwnicy
</h3>
<div class="box1">
<p class="text">
    W piwnicy można spotkać:
</p>

{% for user in users %}
<a href="#{{user.0.username}}">
{% if user.0.first_name %}
            <div class="username">{{user.0.first_name}} {{user.0.last_name}}
                <div style="font-size:medium; text-align:center;">aka {{user.0.username}}</div>
            </div>
    {% else %}
            <div class="username">{{user.0.username}}</div>
{% endif %}
</a>
{% endfor %}

</div>
</div>

{% endif %}

<img class="rat_bottom"src={% static  "ratback.png" %} alt="we are rats">

{% if users|length > 0 %}

<div class="block_one">    
<h4 class="title">
    Informacje o użytkownikach
</h4>

<div class="profiles" id="users_info">

    {% for user in users %}
    <div class="profile" id="{{user.0.username}}">
        <img class="rat_icon" style="width:96px;" src={% static  "ratback.png" %} alt="rad">
        <img src="{{user.1}}">
        <div>
            {% if user.0.first_name %}
            <p style="margin-bottom:0;">{{user.0.first_name}} {{user.0.last_name}}</p>
            <p style="font-size:medium; margin-top:0;">aka {{user.0.username}}</p>
            {% else %}
            <p>{{user.0.username}}</p>
            {% endif %}
            {% if user.2|length > 0%}
            <div>Członek projektów:
                    <ul>
                {% for project in user.2 %}
                        <li>{{project}}</li>
                {% endfor %}
                    </ul>
            </div>
            {% else %}
                        
                <div>Do wynajęcia</div>

            {% endif %}
            
        </div>
    </div>
    
    {% endfor %}

</div>
    
</div>

{% endif %}

<div class="rat_box_container">
 <div id="da_box">
  <img class="face rat_front" src={% static  "ratback.png" %} alt="we are rats">

  <img class="face rat_back" src={% static  "ratback.png" %} alt="we are rats">  

  <img class="face rat_left" src={% static  "ratback.png" %} alt="we are rats">
  
  <img class="face rat_right" src={% static  "ratback.png" %} alt="we are rats">
  
  <img class="face rat_top" src={% static  "ratback.png" %} alt="we are rats">
    
  <img class="face rat_down" src={% static  "ratback.png" %} alt="we are rats">
 </div>
</div>


</body>
</html>
