{% load static %}
<!DOCTYPE html>
<html>

<head>

    {% include 'header.html' %}
    <title>Login Page</title>
</head>

<body>

    <div class="device-header" style="margin-left:auto; margin-right:auto;">
        <h2 style="width:fit-content;margin-left:auto; margin-right:auto;">Login page</h2>
    </div>

       
        <form method="post" action="/auth/" class="login_space">
            <div class="logform">
                {% csrf_token %}
                {{form}}
            
            <input type="submit" value="Login">
            </div>
            
        </form>

    {% if form.errors %}

    <div class="device-header" style="margin-left:auto; margin-right:auto; background-color:red;">
        <h2 style="width:fit-content;margin-left:auto; margin-right:auto;">Check your forms!</h2>
    </div>

    {% endif %}

    {% if bad_login %}
    
     <div class="device-header" style="margin-left:auto; margin-right:auto; background-color:red;">
        <h2 style="width:fit-content;margin-left:auto; margin-right:auto;">Bad login creditentials!</h2>
    </div>

    {% endif %}

</body>

</html>