{% load static %}
{% load gravatar %}
<!DOCTYPE html>
<html>

<head>

    {% include 'header.html' %}
    <title>User profile</title>
</head>

<body>

    {% include 'nav.html' %}

    <div class="flex flex-row flex-wrap pb-40 md:pb-0  h-screen w-full gap-20 overflow-y-auto overflow-x-hidden max-h-screen  md:pt-10"> 

        <div class="flex flex-col w-full h-fit md:w-[600px] py-10 bg-secondary shadow-2xl rounded-xl place-items-center">

            <div class ="w-[200px] mb-5 relative" onmouseover="show_onmouseover()" onmouseout="show_onmouseout()" >

                <img class="rounded-full bg-cover hover:opacity-50"  src="{{ user|gravatar_url:600 }}" width="800px" height="600px">

                <form method="post" action="/webadmin/img_set/"  class="hidden absolute top-1/3" enctype="multipart/form-data" id="img_form">
                    
                    <div class="overlay_content logform" >
                        {% csrf_token %}
                        {{ img_form }}
                        <button type="submit" form="img_form" class="mt-8 px-16 bg-teritary border-teritary text-secondary">Set image</button>
                    </div>
                </form>
            </div>

            {% if msg %}

                <div class="text-primary mb-3 text-sm">
                    {{msg}}
                </div> 

            {% endif %}

                <form method="post" action="/webadmin/userup/" id="form1">
            
                    <div>
                        <div class="text-lg">
                            <div class="flex flex-col mb-5 gap-2">
                                {% csrf_token %}
                                <div>
                                    <p>Login:</p>
                                    {{user.username}}
                                </div>
                                <div>
                                    <p>First name:</p>
                                    {{user.first_name}}
                                </div>
                                <div>
                                    <p>Second name:</p>
                                    {{user.last_name}}
                                </div>
                                <div>
                                    <p>E-mail:</p>
                                    {{user.email}}
                                </div>
                            </div>
                            <div class="overflow-x-hidden overflow-y-auto w-full p-2 max-h-64">
                                {{profile_form}}
                            </div>
                        </div>
                            
                        <button type="submit" form="form1" class="mt-8 px-16 bg-teritary border-teritary text-secondary">Update</button>

                    </div>
                        
                </form>

            </div>


        <div  class="flex flex-col h-fit w-fit px-14 py-5 gap-y-2 place-items-center bg-secondary shadow-2xl rounded-xl">

            <button class="border-teritary bg-teritary" onclick="show_popup('Generate new card','/webadmin/n_card')">Regenerate card</button>
            <button class="border-primary bg-primary" onclick="show_popup('Logout from basement','/webadmin/l_base')">Leave basement</button>
            <button class="border-quaternary bg-quaternary" onclick="show_popup('Program your card','/webadmin/card_prog')">Program card</button>

            {% if user.is_staff %}

            <button class="border-teritary bg-teritary" onclick="show_popup('Clear program querry','/webadmin/progcls')">Release program querry</button>

            {% endif %}

        </div>

    </div>

    <div class="hidden z-30 bg-secondary pb-4 rounded-2xl top-1/2 left-1/2 shadow-2xl" id="close_block">
    
        <div>
            <div class="flex flex-col gap-y-5 w-full">
                <button class="text-primary text-3xl bg-[#00000000] border-none p-0 ml-2 mt-2" onclick="close_popup()">X</button>
                <div class="flex flex-col content-center mb-2 px-10 gap-5 w-full">
                    <h2 class="text-2xl">Are you sure?</h2>

                    <a href="" id="block_link">
                        <button class="border-teritary bg-teritary text-secondary" id="block_button">Yes</button>
                    </a>

                </div>
            </div>
        </div>

    </div>

</div>

</body>

<script>

    function show_onmouseover()
    {
        document.getElementById("img_form").style.display="flex";
    }

    function show_onmouseout()
    {
        document.getElementById("img_form").style.display="none";
    }

    function show_popup(name,href)
    {
        const close_block_classes=document.getElementById("close_block").classList;
        close_block_classes.remove("hidden");
        close_block_classes.add("fixed");
        document.getElementById("block_link").href=href;
    }

    function close_popup()
    {
        const close_block_classes=document.getElementById("close_block").classList;
        close_block_classes.remove("fixed");
        close_block_classes.add("hidden");
        document.getElementById("block_link").href="";
    }

</script>

</html>